.dropdown .tokenSites li{
    padding-left: 1vw;
}

.dropdown .tokenSites li:hover{
    background-color: rgba(219, 219, 219, 0.582);
}

.createTokenContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.createTokenContainer .createTokens  button{
    border-radius: 10px;
    height: 4vh;
    width: 8vw;
    font-size: 1.8vh;
}